.footer {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo {
      font-size: 80px;
      margin-left: 20px;
      font-weight: bold;

      .logo-img{
        width: 150px;
        height: 40px;
        object-fit: cover;
      }
    }

    .pages {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      margin-top: 10px;

      .learn {
        display: flex;
        flex-direction: column;
        margin-right: 30px;

        h3 {
          margin-bottom: 10px;
        }

        a {
          text-decoration: none;
          color: inherit;
          margin-bottom: 5px;
          transition: color 0.2s; /* Smooth color transition on hover */
          cursor: pointer;

          &:hover {
            color: rgb(95, 127, 255); /* Change color on hover */
          }
        }
      }

      .contact {
        margin-top: 30px;
        .social {
          display: flex;
          flex-direction: column;

          .icons {
            display: flex;
            flex-direction: row;
          }

          a {
            text-decoration: none;
            color: inherit;
            margin: 10px;
            transition: color 0.2s; /* Smooth color transition on hover */
            cursor: pointer;

            &:hover {
              color: rgb(95, 127, 255); /* Change color on hover */
            }
          }

          .socials {
            height: 40px;
            width: 40px;
            color: rgb(164, 179, 241);
          }
        }
      }
    }
  }
}
